<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group3.kargobikeproject">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailsUserActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CameraActivity" />
        <activity android:name=".SignatureActivity" />
        <activity
            android:name=".MenuFragementActivity"
            android:label="@string/title_activity_fragement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ModifyAndDeleteOrderActivity" />
        <activity android:name=".ListTypesActivity" />
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".ProductListActivity" />
        <activity android:name=".AddOrderActivity" />
        <activity android:name=".AddAuthorizedUser" />
        <activity android:name=".OrderCheckpointActivity" />
        <activity android:name=".ModifyProfilActivity" />
        <activity android:name=".NoAccessActivity" />
        <activity android:name=".AddProductActivity" />
        <activity android:name=".MainActivity" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>